#EXPRESS
SERVER_PORT=

#ENVIRONMENT
NODE_ENV=

#JWT
SERVER_JWT=true
SERVER_JWT_SECRET=
SERVER_JWT_TIMEOUT=

#DATABASE
DB_DIALECT=
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

# MAILTRAP
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
MAILTRAP_HOST=
SMTP_PORT=
SMTP_FROM=